@model IEnumerable<DataAccess.Data.Models.Notice>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Главная";
}

<div class="row">
    <div class="col-md-3">
        <div class="row add-bar">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="btn btn-success" asp-controller="Notices" asp-action="Create">Разместить объявление</a>
            }
            else
            {
                <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Login">Разместить объявление</a>
            }
        </div>
        <div class="row add-bar">
            <h2>Поиск</h2>
            <form asp-action="Search">
                <div class="form-group">
                    <input name="search" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Поиск" class="btn btn-default" />
                </div>
            </form>
        </div>
        @await Component.InvokeAsync("SidebarCategoryMenu", new { maxPriority = 2, isDone = false })
    </div>
    <div class="col-md-9">
        <h2>Объявления</h2>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-12">
                    <h4><a asp-controller="Notices" asp-action="Details" asp-route-id="@item.Id">@item.Subject</a></h4>
                    <p>@item.Category.CategoryName</p>
                    <p>@item.CreatedAt.ToString("dd.MM.yyyy HH:mm")</p>
                    <p>
                        @if (item.Description.Length >= (int)ViewData["DescriptionLenght"])
                        {
                            <text> @item.Description.Substring(0, (int)ViewData["DescriptionLenght"]))</text>
                        }
                        else
                        {
                            <text> @item.Description</text>
                        }
                    </p>                    
                    <p><a asp-controller="Notices" asp-action="Details" asp-route-id="@item.Id">Подробнее...</a></p>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if ((int)ViewData["PageCount"] > 1)
        {
            <a asp-action="Index" asp-all-route-data='new Dictionary<string, string> { { "page", "1"} }'>Первая</a>
            @for (var i = 1; i <= (int)ViewData["PageCount"]; i++)
            {
                <a asp-action="Index" asp-all-route-data='new Dictionary<string, string> { { "page", i.ToString()} }'>@i.ToString()</a>
            }
            <a asp-action="Index" asp-all-route-data='new Dictionary<string, string> { { "page", ViewData["PageCount"].ToString()} }'>Последняя</a>
        }
    </div>
</div>