@model IEnumerable<DataAccess.Data.Models.Category>
@{
    ViewData["Title"] = "Категории";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.CategoryName)</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Правка</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

