@using StreletzNoticeBoard.Areas.Admin.Components
@model StreletzNoticeBoard.Areas.Admin.Components.UserViewModel
@{
    ViewData["Title"] = "Пользователь";
}

<h2>Пользователь</h2>

<div>
    <h4>Сведения</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Удалить</a> |
    <a asp-action="Index">К списку пользователей</a>
</div>


